﻿<h1>Registre-se</h1>

<form action="/Usuarios/RegistraUsuario" method=post>
    <div class="row col-sm-offset-3">
        <div class="row col-sm-8">
            @if (!string.IsNullOrEmpty(ViewBag.ErroLogin))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErroLogin
                </div>
                Session.Remove("ErroLogin");
            }
        </div>
    </div>
    <div class="row col-sm-offset-2">
        <label for="nome" class="col-sm-2 col-form-label text-right">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="nome" name="nome" maxlength="50" required placeholder="Seu nome" />
        </div>
    </div>
    <br />
    <div class="row col-sm-offset-2">
        <label for="email" class="col-sm-2 col-form-label text-right">E-mail</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email" name="email" maxlength="50" required placeholder="Seu e-mail" />
        </div>
    </div>
    <br />
    <div class="row col-sm-offset-2">
        <label for="senha" class="col-sm-2 col-form-label text-right">Senha</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="senha" name="senha" maxlength="50" required />
        </div>
    </div>
    <br />
    <div class="row col-sm-offset-2">
        <label for="confirmasenha" class="col-sm-2 col-form-label text-right">Confirme a senha</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="confirmasenha" name="confirmasenha" maxlength="50" required />
        </div>
    </div>
    <br />
    <button class="btn-sm btn-default" type="submit">Registrar</button>
    <a href="/Login/Index"><button class="btn-sm btn-default" type="button">Retornar</button></a>
</form>