﻿<h2>Login</h2>

<form action="/Login/ChecarLogin" method="post">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            @if (!string.IsNullOrEmpty(ViewBag.ErroLogin))
            {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErroLogin
            </div>
                Session.Remove("ErroLogin");
            }
            <label for="EmailUsuario" class="form-label">Usuário</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="email@example.com" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="SenhaUsuario" class="form-label">Senha</label>
            <input type="password" class="form-control" name="Senha" id="Senha" placeholder="Senha" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="button">
            <button class="btn-sm btn-default" type="submit">Entrar </button>
            <a href="/Usuarios/Registrar"><button class="btn-sm btn-default" type="button">Registrar</button></a>
        </div>
    </div>
</form>