﻿<h3>@ViewBag.Message</h3>

<address>
    André Diego Luçoli Decker<br />
    Blumenau, SC, Brasil<br />
    <abbr title="Telemóvel">P:</abbr> +55 47 98907-8000
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:adldecker@outlook.com">adldecker@outlook.com</a><br />
</address>