﻿<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p class="lead">Um espaço de liberdade para compartilhamento das tuas ideias.</p>
</div>

<h2 class="badge bg-secondary">@ViewBag.Message</h2>

<p class="text-left">
    <a href="/Forum/Adiciona" class="btn btn-default">Criar novo tópico &raquo;</a>
</p>

<br />

<div class="container my-5 text-left">
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <ul class="timeline-3">
                @foreach (var forum in ViewBag.Lista)
                {
                    string id64 = System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(forum.Id.ToString()));
                    string conteudo = forum.Conteudo.Length < 150 ? forum.Conteudo :
                        $"{forum.Conteudo.Substring(0, 150)}...";

                    <li>
                        <a href="/Forum/Visualiza/@id64">@forum.Titulo</a>
                        <p class="text-muted mb-2 fw-bold">@forum.IncluidoPorNome - @forum.IncluidoEm.ToString("dd/MM/yyyy HH:mm:ss")</p>
                        <p class="mt-2">@conteudo</p>
                        @if (forum.Proprietario)
                        {
                            <p class="text-left">
                                <a href="/Forum/Editar/@id64" class="btn-sm btn-default">Editar</a>
                                <a href="/Forum/Exclui/@id64" class="btn-sm btn-default">Excluir</a>
                            </p>
                        }
                        <hr />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>