﻿<h2 class="badge bg-secondary">@ViewBag.Message</h2>

<form action="/Forum/SalvarForum" method="post">
    <div class="row col-sm-offset-2">
        <label for="titulo" class="col-sm-2 col-form-label text-right">Título:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="titulo" name="titulo" maxlength="50" required/>
        </div>
    </div>
    <br />
    <div class="row col-sm-offset-2">
        <label for="conteudo" class="col-sm-2 col-form-label text-right">Conteúdo:</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="conteudo" name="conteudo" rows="10" required></textarea>
        </div>
    </div>
    <br />
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn-sm btn-default" type="submit">Salvar</button>
        <a href="/Inicio/Forum"><button class="btn-sm btn-default" type="button">Retornar</button></a>
    </div>
</form>
