﻿@{
    var forum = ViewBag.Forum;
    string id64 = "";

    if (forum.Id > 0)
    {
        id64 = System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(forum.Id.ToString()));
    }
    else
    {
        ViewBag.Message = "Não foi possível encontrar um veículo com o ID fornecido. Tente novamente";
    }

    if (!forum.Proprietario)
    {
        ViewBag.Message = "A exclusão deste post só é possível pelo seu criador.";
    }
}

@if (forum.Id > 0 && forum.Proprietario)
{
    <h2 class="badge bg-secondary">@ViewBag.Message</h2>
    <form action="/Forum/EditarForum" method="post">
        <div class="row col-sm-offset-2 ">
            <input type="hidden" id="id" name="id" value="@id64" />
            <label for="titulo" class="col-sm-2 col-form-label text-right">Título:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="titulo" name="titulo" value="@forum.Titulo" maxlength="50" required/>
            </div>
        </div>
        <br />
        <div class="row col-sm-offset-2">
            <label for="conteudo" class="col-sm-2 col-form-label text-right">Conteúdo:</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="conteudo" name="conteudo" rows="10" required>@forum.Conteudo</textarea>
            </div>
        </div>
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn-sm btn-default" type="submit">Salvar</button>
            <a href="/Inicio/Forum"><button class="btn-sm btn-default" type="button">Retornar</button></a>
        </div>
    </form>
}
else
{
    <h2 class="badge badge-danger">@ViewBag.Message</h2>
    <br />
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/Inicio/Forum"><button class="btn-sm btn-default" type="button">Retornar</button></a>
    </div>
}