﻿@{
    var forum = ViewBag.Forum;
    string id64 = "";

    if (forum.Id > 0)
    { 
        id64 = System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(forum.Id.ToString())); 
    }
    else
    { 
        ViewBag.Message = "Não foi possível encontrar um forum com o Id fornecido. Tente novamente"; 
    }

    if (!forum.Proprietario)
    { 
        ViewBag.Message = $"A exclusão deste post só é possível pelo seu criador: {forum.IncluidoPorNome}"; 
    }
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form action="/Forum/ExcluirForum" method="post">
    <input type="hidden" id="id" name="id" value="@id64" />

    <div class="btn-group" role="group" aria-label="Basic example">
        @if (forum.Id > 0 && forum.Proprietario)
        {
            <button class="btn-sm btn-default" type="submit">Excluir</button>
        }
        <a href="/Inicio/Forum"><button class="btn-sm btn-default" type="button">Retornar</button></a>
    </div>
</form>