﻿@{
    var forum = ViewBag.Forum;
}

<h2>@forum.Titulo</h2>
<h4 class="text-muted mb-2 fw-bold">@forum.IncluidoPorNome - @forum.IncluidoEm.ToString("dd/MM/yyyy HH:mm:ss")</h4>
<br />
<p class="text-justify">@forum.Conteudo</p>